@model RabbitFarmLocal.Models.FatteningModel
@using static RabbitFarmLocal.Controllers.MyFunctions;
<hr />
<div class="modal-content">
    <h4>Редактировать кролика</h4>
    <div class="col-md-4">
        <form asp-action="FattEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                @Html.DisplayNameFor(model => model.RabPartId)
                @Html.DisplayFor(model => model.RabPartId)

            </div>
            <div class="form-group">
                <label asp-for="Cage" class="control-label"></label>
                <input asp-for="Cage" class="form-control" />
                <span asp-validation-for="Cage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collor" class="control-label"></label>
                @Html.DropDownListFor(x => x.CollorId, ViewBag.CollorList as SelectList, new { onchange = "checkIfNewCollor(this)" })
                <span asp-validation-for="Collor" class="text-danger"></span>
            </div>
            <div class="modal" id="DataLossWarning">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Предупреждение, данные будут потеряны!</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-info" href="@Url.Action("Create", "Collor")">Создать новый окрас</a>
                        </div>

                    </div>
                </div>
            </div>
            <script>

                        function checkIfNewCollor(val) {
                            if (val.options[val.selectedIndex].text == "Новый цвет") $('#DataLossWarning').modal('show');  @*window.location.href ="@Url.Action("Create", "Collor")";*@

                        }
            </script>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @*<div> @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(FatStatus))))</div>*@
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<FatStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RabbitGender" class="control-label"></label>
                <div> @Html.DropDownListFor(model => model.RabbitGender, new SelectList(Enum.GetValues(typeof(Gender))))</div>
                <span asp-validation-for="RabbitGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KillDate" class="control-label"></label>
                <input asp-for="KillDate" class="form-control" value="@ViewBag.Date" asp-format="{0:dd-MM-yyyy}" />
                <span asp-validation-for="KillDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => Model.PartId)
            @Html.HiddenFor(model => Model.ECaller)
            @Html.HiddenFor(model => Model.RabPartId)

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
