@model IEnumerable<RabbitFarmLocal.Models.MatingModel>

@{
    ViewData["Title"] = "MaleMate";
}

<h4>@ViewBag.Name</h4>


<table class="table">
    <thead>
        <tr>
            
           
            <th>
                @Html.DisplayNameFor(model => model.DateString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotherId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.DateString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            
        </tr>
}
    </tbody>
</table>
