@model RabbitFarmLocal.Models.MatingModel

@{
    ViewBag.Title = "MateCreate";
}

<hr />
<div class="modal-content">

    <h6>@ViewBag.Name</h6>
    <div class="col-sm">
        <form asp-action="MateCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FatherId" class="control-label"></label>
                @*<input asp-for="FatherId" class="form-control" />*@
            <select asp-for="FatherId" class="form-select">
                <option selected> выбрать самца</option>
                @foreach (var item in Model.Relations)
                {
                   <option value="@item.ChildId">@item.ChildId</option>
                   
                }

            </select>
                <span asp-validation-for="FatherId" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => Model.MotherId)
            @Html.HiddenFor(model=>Model.ECaller)

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <h6>@ViewBag.Message</h6>
    @*<div style="overflow: auto" class="table-responsive">*@
        <div class="container">
            <h5>Проверка родственных связей</h5>
            <table class="table table-bordered">

                <tr style="font-size: 0.8rem">
                    <th style="width: 10%">
                        Самец
                    </th>
                    <th class="w-10 d-none d-sm-table-cell" style="width: 10%">
                        @Html.DisplayNameFor(model => Model.Relations[0].MatchMatherStep)
                    </th>

                    <th class="w-10 d-none d-sm-table-cell" style="width: 10%">
                        @Html.DisplayNameFor(model => Model.Relations[0].MatchFatherStep)
                    </th>
                    <th style="width: 25%">
                        @Html.DisplayNameFor(model => Model.Relations[0].MotherMatchPath)
                    </th>

                    <th style="width: 25%">
                        @Html.DisplayNameFor(model => Model.Relations[0].FatherMatchPath)
                    </th>

                </tr>

                @foreach (var item in Model.Relations)
                {
                    <tr @{ if (item.MatchFatherStep > 0 || item.MatchMatherStep > 0) { <text> class="table-warning" </text>  } else { <text> class="table-success" </text>  } }>
                        <td style="width: 10%">
                            ^@Html.DisplayFor(modelItem => item.ChildId)
                        </td>
                        <td class="d-none d-sm-table-cell" style="width: 10%">
                            @Html.DisplayFor(modelItem => item.MatchMatherStep)
                        </td>
                        <td class="d-none d-sm-table-cell " style="width: 10%">
                            @Html.DisplayFor(modelItem => item.MatchFatherStep)
                        </td>
                        <td style="width: 25%">
                            +@Html.DisplayFor(modelItem => item.MotherMatchPath)
                        </td>
                        <td style="width: 25%">
                            ^@Html.DisplayFor(modelItem => item.FatherMatchPath)
                        </td>

                    </tr>
                }

            </table>
        </div>
    @*</div>*@
</div>

