@model RabbitFarmLocal.Models.MatingModel
@using static RabbitFarmLocal.Controllers.MyFunctions;

@{
    ViewData["Title"] = "MateEdit";
}




<hr />
<div class="modal-content">
    <h4>@ViewBag.Name</h4>
    <div class="col-md-4">
        <form asp-action="MateEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" value="@ViewBag.MateDate" data-date-format="dd-MM-yyyy" type="text" placeholder="dd-MM-yyyy" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            @if (Model.ParturationId == -1)
            {
                <div class="form-group">

                    <select asp-for="ParturationId" class="form-select">
                        <option selected value="-1">Установлен прохолост</option>
                        <option value="-2">Отменить прохолост</option>

                    </select>
                    <span asp-validation-for="ParturationId" class="text-danger"></span>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.ParturationId)
            }
            <div class="form-group">
                <label asp-for="FatherId" class="control-label"></label>
                <input asp-for="FatherId" class="form-control" />
                <span asp-validation-for="FatherId" class="text-danger"></span>
            </div>
            @if (Model.Status == "беременная")
            {
                <div class="form-group">
                    <label asp-for="NestPutView" class="control-label"> гнездо установлено @Model.PutNestString</label>
                    @*<div> @Html.DropDownListFor(model => model.NestPutView, new SelectList(Enum.GetValues(typeof(YesNo))))</div>*@
                    <select asp-for="NestPutView" asp-items="Html.GetEnumSelectList<YesNo>()" value="@Model.NestPut"></select>
                    <span asp-validation-for="NestPutView" class="text-danger"></span>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.PutNest)
            }


            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.MotherId)
            @Html.HiddenFor(model => model.NestPut)
            @Html.HiddenFor(model => model.ECaller)

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
