@model RabbitFarmLocal.Models.ParturationModel

@{
    ViewData["Title"] = "ParturCreate";
}




<hr />
<div class="modal-content">
    <h4>@ViewBag.Name</h4>
    <div class="col-md-4">
        <form asp-action="ParturCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" value="@ViewBag.BornDate" data-date-format="yyyy-MM-dd" type="text" placeholder="yyyy-MM-dd" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherId" class="control-label"></label>
                <input asp-for="MotherId" class="form-control" />
                <span asp-validation-for="MotherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Children" class="control-label"></label>
                <input asp-for="Children" class="form-control" />
                <span asp-validation-for="Children" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Males" class="control-label"></label>
                <input asp-for="Males" class="form-control" />
                <span asp-validation-for="Males" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Females" class="control-label"></label>
                <input asp-for="Females" class="form-control" />
                <span asp-validation-for="Females" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiedChild" class="control-label"></label>
                <input asp-for="DiedChild" class="form-control" />
                <span asp-validation-for="DiedChild" class="text-danger"></span>
            </div>
           

            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="MateId" class="control-label"></label>
                    <input asp-for="MateId" class="form-control" readonly="@(true)"/>
                    <span asp-validation-for="MateId" class="text-danger"></span>
                </div>*@
            @Html.HiddenFor(model => model.MateId)
            @Html.HiddenFor(model => model.ECaller)
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
