@using RabbitFarmLocal.Models
@using RabbitFarmLocal.Controllers
@model IEnumerable<RabbitFarmLocal.Models.ParturationModel>

@{
    ViewBag.Title = "ParturView";
}

<h2>@ViewBag.Name</h2>

<p>
    @Html.ActionLink("Назад к покрытиям", "MateView", new { Id = @ViewBag.LinkableId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MateDateString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Children)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Males)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Females)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiedChild)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Separated)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.NestRemoved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MateDateString)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateString)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MotherId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Children)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Males)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Females)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiedChild)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Separated)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.NestRemoved)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FatherId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comment)
    </td>
    <td>
        @Html.ActionLink("Редактировать", "ParturEdit", new {id = item.Id }) 
        @Html.ActionLink("Удалить", "DeleteParturation", new { id = item.Id, rabId = item.MotherId, mateId = item.MateId }, new
        {
            onclick = "return confirm('Вы уверены, что хотите удалить окрол " + item.DateString + "? Связанное покрытие также будет удалено: " +
       item.MateId + "');"
        }) |
        @if (item.SeparationDate == null)
        {

            @Html.ActionLink("Рассадить", "PreFattenigCreate", new { partId = item.Id, caller = Caller.mate }, new { @class = "compItem" })
        }
        else
        {
            @Html.ActionLink("Откорм", "FatteningView", new { partId = item.Id })
        }


    </td>
</tr>
    }

</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
        
    </script>
}