@model RabbitFarmLocal.Models.ParturationModel
@using static RabbitFarmLocal.Controllers.MyFunctions;

@{
    ViewData["Title"] = "ParturEdit";
}

<h2>@ViewBag.Message</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ParturEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" value="@ViewBag.MateDate" data-date-format="yyyy-MM-dd" type="text" placeholder="yyyy-MM-dd" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Children" class="control-label"></label>
                <input asp-for="Children" class="form-control" />
                <span asp-validation-for="Children" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Males" class="control-label"></label>
                <input asp-for="Males" class="form-control" />
                <span asp-validation-for="Males" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Females" class="control-label"></label>
                <input asp-for="Females" class="form-control" />
                <span asp-validation-for="Females" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiedChild" class="control-label"></label>
                <input asp-for="DiedChild" class="form-control" />
                <span asp-validation-for="DiedChild" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeparatedView" class="control-label"> Рассажены @ViewBag.SeparationDate </label>
                @*<input asp-for="Separated" class="form-control" value="@ViewBag.SeparationDate" data-date-format="yyyy-MM-dd" type="text" placeholder="yyyy-MM-dd"/>*@
                @*<div> @Html.DropDownListFor(model => model.SeparatedView, new SelectList(Enum.GetValues(typeof(YesNo))))</div>*@
                <select asp-for="SeparatedView" asp-items="Html.GetEnumSelectList<YesNo>()"  ></select>

                <span asp-validation-for="SeparatedView" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="NestRemovedView" class="control-label"> гнездо убрано @ViewBag.DateNestRemoval</label>
                @*<input asp-for="DateNestRemoval" class="form-control" value="@ViewBag.DateNestRemoval" data-date-format="yyyy-MM-dd" type="text" placeholder="yyyy-MM-dd" />*@
                <select asp-for="NestRemovedView" asp-items="Html.GetEnumSelectList<YesNo>()"></select>
                <span asp-validation-for="NestRemovedView" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            @*@Html.HiddenFor(model => model.SeparationDate)
        @Html.HiddenFor(model => model.DateNestRemoval)*@
            @*@Html.TextBoxFor(model => model.SeparationDate, "{0:dd-MM-yyyy}", htmlAttributes: new { @type = "hidden" })
            @Html.TextBoxFor(model => model.DateNestRemoval, "{0:dd-MM-yyyy}", htmlAttributes: new { @type = "hidden" })*@
            @Html.HiddenFor(model=>Model.MotherId)
            @Html.HiddenFor(model=>Model.ECaller)
            @Html.HiddenFor(model=>Model.SeparationDate)
            @Html.HiddenFor(model=>Model.DateNestRemoval)
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Mate" asp-action="ParturView" asp-route-id="@Model.MotherId">Назад к окролам</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
