@model RabbitFarmLocal.Models.FinRepSelectDates


<hr />

<div class="modal-content">
    <h4>Выберете период для финансового отчета</h4>
    <div class="col-md-4">
        <form asp-action="FinanceReport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input asp-for="DateFrom" class="form-control" value="@Model.DateFromStringForEdit" asp-format="{0:yyyy-MM-dd}" id="bg" />
                <span asp-validation-for="DateFromStringForEdit" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateUntil" class="control-label"></label>
                <input asp-for="DateUntil" class="form-control" value="@Model.DateUntilStringForEdit" asp-format="{0:yyyy-MM-dd}" id="fin" />
                <span asp-validation-for="DateUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Показать отчет по выбранным датам" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a class="btn btn-link" id="OneMonth">За 1 месяц</a>
        </div>
        <div>
            <a class="btn btn-link" id="6Month">За 6 месяцев</a>
        </div>
        <div>
            <a class="btn btn-link" id="12Month">За 12 месяцев</a>
        </div>
        <div>
            <a class="btn btn-link" id="lastMonth">За предыдущий месяц</a>
        </div>
        <div>
            <a class="btn btn-link" id="last6Mnths">За предыдущие 6 месяцев</a>
        </div>
        <div>
            <a class="btn btn-link" id="last12Mnths">За предыдущие 12 месяцев</a>
        </div>

    </div>
</div>

@*ViewBag.PrewMonthBeg  ViewBag.PrewMonthFin  ViewBag.Last6MonthsBeg  ViewBag.Today  ViewBag.Last12MonthsBeg During12MonthsBeg During6MonthsBeg Today During1MonthsBeg*@
@section scripts
{
    <script type="text/javascript">
        $('#OneMonth').click(function () {
            $('#bg').val('@ViewBag.During1MonthsBeg');
            $('#fin').val('@ViewBag.Today')
        })
        $('#6Month').click(function () {
            $('#bg').val('@ViewBag.During6MonthsBeg');
            $('#fin').val('@ViewBag.Today')
        })
        $('#12Month').click(function () {
            $('#bg').val('@ViewBag.During12MonthsBeg');
            $('#fin').val('@ViewBag.Today')
        })
        $('#lastMonth').click(function () {
            $('#bg').val('@ViewBag.PrewMonthBeg');
            $('#fin').val('@ViewBag.PrewMonthFin')
        })
        $('#last6Mnths').click(function () {
            $('#bg').val('@ViewBag.Last6MonthsBeg');
            $('#fin').val('@ViewBag.PrewMonthFin')
        })
         $('#last12Mnths').click(function () {
            $('#bg').val('@ViewBag.Last12MonthsBeg');
            $('#fin').val('@ViewBag.PrewMonthFin')
        })
    </script>
}