@model IEnumerable<RabbitFarmLocal.Models.BreedsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Породы</h1>
@*<a class="btn btn-success" href="@Url.Action("PopulateBreeds", "Breeds")">Создать таблицу Породы</a>
    <a class="btn btn-success" href="@Url.Action("AssignBreedId", "Breeds")">Назначить номера пород</a>*@

<p>
    <a asp-action="Create">Добавить породу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>Порода</th>
            <th>
                Кроликов такой породы
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var breeds in ViewBag.breeds)
        {
            <tr>
                <td>
                    @breeds.BreedOfRab.BreedString
                </td>
                <td>
                    @breeds.NumberRabbitsOfThisBreed
                </td>
            </tr>
        }
    </tbody>
</table>
<vc:weightperbreed breeds="@ViewBag.breedsList"></vc:weightperbreed>