@model RabbitFarmLocal.Models.InpRAbbitModel
@using RabbitFarmLocal.Models



<hr />
<div class="modal-content">
    <h4>Занести в базу нового кролика</h4>
    <div class="col-md-6 col-sm-12">
        <div>
            <form asp-action="AddRabbit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.Error != null)
                {
                    <a>@ViewBag.Error</a>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="RabbitId" class="control-label"></label>
                        <input asp-for="RabbitId" class="form-control" value=@Model.RabbitId />
                        <a>Рекомендованный номер @Model.RabbitId</a>
                        <span asp-validation-for="RabbitId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cage" class="control-label"></label>
                        @*<select asp-for="Cage" class="form-select" id="Cage">
                    <option selected></option>
                    @foreach (var item in Model.CageList)
                    {
                        if (item.Occupancy== occupancy.empty)
                {
                <option value="@item">@item</option>
                }


                    }

                </select>*@
                        <select id="CageList" class="form-control" asp-for="Cage" asp-items="@(new SelectList(Model.CageList, "Id", "OccupancyString"))">
                            <option value="">Выберите клетку</option>
                        </select>
                        <span asp-validation-for="Cage" class="text-danger"></span>
                    </div>
                    <div class="btn btn-outline-info" data-toggle="collapse" data-target="#Cage" aria-expanded="false" aria-controls="Cage">Клетки</div>
                    <br />
                    <div class="collapse" id="Cage">
                        <canvas id="cageImage" width="300" height="300"></canvas>
                        <div id="jsonString" class="d-none">@ViewBag.caJson</div>
                        <div id="CageHighlight" class="d-none">0</div>
                        @*<script src="~/js/cageImage.js"></script>*@
                        @*<script type="text/javascript">
                    initiate();
                    drawCages();
                    initiateSelect();
                </script>*@
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="RabbitGender" class="control-label"></label>
                        <select asp-for="RabbitGender" asp-items="Html.GetEnumSelectList<Gender>()">
                            <option selected>@Model.RabbitGender</option>
                        </select>

                        <span asp-validation-for="RabbitGender" class="text-danger"></span>
                    </div>
                    @if (ViewBag.BreedChoseShow == true)
                    {
                        <div class="form-group">
                            <label asp-for="Breed" class="control-label"></label>
                            @Html.DropDownListFor(x => x.BreedId, ViewBag.BreedList as SelectList, "Выберите породу")
                            @*<select asp-for="Breed" class="form-control" asp-items="Html.DropDownList("BreedList","dd")/>*@
                            <span asp-validation-for="Breed" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="BreedString" class="control-label"></label>
                            @Html.DisplayFor(model => Model.BreedString)
                            @Html.HiddenFor(model => Model.Breed)

                        </div>
                    }

                    <div class="form-group">
                        <label asp-for="Collor" class="control-label"></label>
                        @Html.DropDownListFor(x => x.CollorId, ViewBag.CollorList as SelectList, new { onchange = "checkIfNewCollor(this)" })
                        <span asp-validation-for="Collor" class="text-danger"></span>
                    </div>
                    <div class="modal" id="DataLossWarning">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Предупреждение, данные будут потеряны!</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-footer">
                                    <a class="btn btn-info" href="@Url.Action("Create", "Collor")">Создать новый окрас</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <script>

                        function checkIfNewCollor(val) {
                            if (val.options[val.selectedIndex].text == "Новый цвет") $('#DataLossWarning').modal('show');  @*window.location.href ="@Url.Action("Create", "Collor")";*@

                        }
                    </script>
                    <div class="form-group">
                        <label asp-for="Born" class="control-label"></label>
                        <input asp-for="Born" class="form-control" value=@ViewBag.Date asp-format="{0:yyyy-MM-dd}" />
                        <span asp-validation-for="Born" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mother" class="control-label"></label>
                        <input asp-for="Mother" class="form-control" value=@Model.Mother />
                        <span asp-validation-for="Mother" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Father" class="control-label"></label>
                        <input asp-for="Father" class="form-control" value=@Model.Father />
                        <span asp-validation-for="Father" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsAlive" /> @Html.DisplayNameFor(model => model.IsAlive)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Занести нового кролика" class="btn btn-primary" />
                    </div>
                }

                @Html.HiddenFor(model => Model.PartRabId)
                @Html.HiddenFor(model => Model.PartId)
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    initiate();
    drawCages();
    initiateSelect();
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>