@model IEnumerable<RabbitFarmLocal.Models.DLRabbitModel>
@using System.Web.Helpers
@using RabbitFarmLocal.Controllers


<h2>Кролики</h2>



<p>
    @Html.ActionLink("Добавить кролика", "AddRabbit", new { }, new { @class = "compItem" })
</p>


<a class="btn btn-success" href="@Url.Action("UpdateRabbitsStatusView", "Home")">Обновить статус</a>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RabbitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoredRabStatus)
        </th>
        <th class="d-none d-sm-table-cell">
            @Html.DisplayNameFor(model => model.BreedString)
        </th>
        <th class="d-none d-sm-table-cell">
            @Html.DisplayNameFor(model => model.Collor)
        </th>

        <th class="d-none d-sm-table-cell">
            @Html.DisplayNameFor(model => model.Mother)
        </th>
        <th class="d-none d-sm-table-cell">
            @Html.DisplayNameFor(model => model.Father)
        </th>

        <th class="d-none d-sm-table-cell">
            @Html.DisplayNameFor(model => model.BornString)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="partView" data-toggle="modal" data-target="#modal-@item.Id">
                @Html.DisplayFor(modelItem => item.RabbitId)
            </td>
            @if (item.IsAlive)
            {
                <td class="partView" onclick="replaceContentsOfDiv(@item.Cage)">
                    @Html.DisplayFor(modelItem => item.Cage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoredRabStatus)
                </td>
            }
            else
            {
                <td>-</td>
                <td>история</td>
            }
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.BreedString)
            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.Collor)
            </td>

            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.Mother)
            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.Father)
            </td>

            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.BornString)
            </td>
        </tr>
        <div class="modal fade" id="modal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Кролик @item.RabbitId</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            @Html.DisplayNameFor(model => model.RabbitId)
                            @Html.DisplayFor(modelItem => item.RabbitId)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.Cage)
                            @Html.DisplayFor(modelItem => item.Cage)
                        </div>

                        <div>
                            @Html.DisplayNameFor(model => model.StoredRabStatus)
                            @Html.DisplayFor(modelItem => item.StoredRabStatus)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.BreedString)
                            @Html.DisplayFor(modelItem => item.BreedString)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.Collor)
                            @Html.DisplayFor(modelItem => item.Collor)
                        </div>

                        <div>
                            @Html.DisplayNameFor(model => model.Mother)
                            @Html.DisplayFor(modelItem => item.Mother)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.Father)
                            @Html.DisplayFor(modelItem => item.Father)
                        </div>

                        <div>
                            @Html.DisplayNameFor(model => model.BornString)
                            @Html.DisplayFor(modelItem => item.BornString)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.Age)
                            @Html.DisplayFor(modelItem => item.Age)
                        </div>
                        @if (!item.IsAlive)
                        {
                            <div>
                                @Html.DisplayNameFor(model => model.TermDateString)
                                @Html.DisplayFor(modelItem => item.TermDateString)
                            </div>
                            <div>
                                @Html.DisplayNameFor(model => model.Weight)
                                @Html.DisplayFor(modelItem => item.Weight)
                            </div>
                            <div>
                                @Html.DisplayNameFor(model => model.Price)
                                @Html.DisplayFor(modelItem => item.Price)
                            </div>
                        }
                    </div>
                    <div class="modal-footer d-block">

                        <a class="d-block btn btn-link" href="@Url.Action("RabEdit", "Home", new {id = item.Id})">Редактировать</a>
                        <a class="d-block btn btn-link" href="@Url.Action("CommentsView", "Home", new {id = item.RabbitId})">Коментарий</a>
                        <a class="d-block btn btn-link" href="@Url.Action("FUllRabbitView", "Home", new {id=item.Id})">Подробно</a>
                        @if (!item.IsMale)
                        {
                            <a class="d-block btn btn-link" href="@Url.Action("MateView", "Mate", new {id = item.RabbitId})">Покрытия</a>
                        }
                        else
                        {
                            <a class="d-block btn btn-link" href="@Url.Action("MaleMate", "Mate", new {id = item.RabbitId})">Случки</a>
                        }
                        <a class="d-block btn btn-link" href="@Url.Action("ParturView", "Mate", new {id = item.RabbitId})">Окролы</a>
                        <a class="d-block btn btn-link" href="@Url.Action("RabWeightView", "Weight", new {rabId = item.RabbitId})">Взвешивание</a>
                        <a class="btn btn-secondary" href="@Url.Action("DeadRabbit", "Home", new {id = item.Id})">В историю</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#delete-@item.Id">Удалить</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="delete-@item.Id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Вы уврены, что хотите удалить кролика @item.RabbitId?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-footer">
                        <a class="btn btn-danger" href="@Url.Action("Delete","Home",new { id = item.RabbitId })">Удалить</a>
                    </div> <button type="button" class="btn btn-info" data-dismiss="modal">Не удалять</button>

                </div>
            </div>
        </div>

    }

</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div id="CageImage" class="modal fade">
    <div id="dialogCageImage" class="modal-dialog"></div>
</div>
<script src="/js/cageImage.js"></script>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });

         function replaceContentsOfDiv(CageId) {
            $.ajax({
                url: '@Url.Action("CageDetail", "Cage")',
                data: { _id: CageId },
                type: "POST",
                success: function (data) {
                    $('#dialogCageImage').html(data);
                    $('#CageImage').modal('show');
                }
            });
        };

    </script>
}
